@import "node_modules/@3squared/forge-ui/src/styles/forge.scss";

.display-1 {
  font-size: 3rem;
  font-weight: normal;
}

.display-2 {
  font-size: 2.5rem;
  font-weight: normal;
}

.display-3 {
  font-size: 2rem;
  font-weight: normal;
}

.display-4 {
  font-size: 1.5rem;
  font-weight: normal;
}